.our-partners {

  text-align: left !important;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


.partner-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
}

.partner-item img {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.partner-item:hover {
  transform: scale(1.05);
}
