.custom-card-container {
  padding: 2rem;
}

.custom-card-grid {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1.5rem;
  justify-content: center;
}

/* Card styling */
.custom-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card.active {
  border: 2px solid #E25D9C;
}

.custom-card-content h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.custom-card-content {
  text-align: center;
}


/* Responsive layout for mobile */
@media (max-width: 768px) {
  .custom-card-grid {
    flex-direction: column;
    align-items: center;
  }

  .custom-card {
    width: 90%;
    max-width: 400px;
  }
}
